<ion-header>
        <ion-navbar no-border-bottom>
          <ion-buttons left>
            <button ion-button menuToggle>
              <ion-icon name="menu" ios="ios-options-outline" md="md-options"></ion-icon>
            </button>
          </ion-buttons>
      
      
          <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>
      
          <ion-buttons right>
            <button ion-button icon-only (click)="presentFilter()">
              <ion-icon>
                <ion-avatar class="avatar">
                  <img [src]="user_image_link" style="height: 32px; width: 32px; border-radius: 50% !important;">
                </ion-avatar>
              </ion-icon>
            </button>
          </ion-buttons>
      
        </ion-navbar>
       
    </ion-header>
<ion-content no-bounce background-size [ngStyle]="{'background-color': '#FFFFFF'}">
    <ion-grid text-center *ngIf="data != null" [ngStyle]="{'padding': '0px'}">
      <h3>The AffinityClub App</h3>
      <p>Version 1.3.1</p>
     <div class="image-container">
        <img class="img" [src]="data.logo" alt="" />
     </div>
     <br>
     <p>&copy; 2018 TheAffinityClub. <br>All rights reserved.</p>
     
      
    </ion-grid>

</ion-content>
