<!--Content -->
<ion-content no-bounce>
    <ion-grid [ngStyle]="{'background-color': '#0000;'}" *ngIf="data != null">
        <ion-row padding-horizontal align-items-start>

            <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 [ngStyle]="{'margin-top': '8rem', 'margin-bottom': '2rem'}">

                <h1 ion-text padding-bottom login-title no-margin>{{data.title}}</h1>
            </ion-col>
            <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <!---Logo-->

                <!--Form Title-->

                <!---Input field name-->
                <ion-item transparent>
                    <ion-label stacked>{{data.lableName}}</ion-label>
                    <ion-input required placeholder="{{data.name}}" type="text" [(ngModel)]="usercreds.name"></ion-input>
                    <ion-label error-field color="primary" no-margin *ngIf="!isNameValid">{{data.errorName}}</ion-label>
                </ion-item>
                <!---Input field email-->
                <ion-item transparent>
                    <ion-label stacked>{{data.lableEmail}}</ion-label>
                    <ion-input required placeholder="{{data.email}}" [(ngModel)]="usercreds.email" type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                        required [(ngModel)]="email"></ion-input>
                    <ion-label error-field color="primary" *ngIf="!isEmailValid">{{data.errorEmail}}</ion-label>
                </ion-item>
                <ion-row>
                    <ion-col col-3 padding-left="" [ngStyle]="{'padding-left': '0px'}">
                        <ion-item transparent>
                            <mbsc-image [(ngModel)]="usercreds.code" placeholder="Country Code" [mbsc-options]="imageSettings">
                                <mbsc-image-item *ngFor="let item of countries" [value]="item.mcode">
                                    <img src="./assets/flags/1x1/{{item.ccode}}.svg" />
                                    <p>{{item.name}} {{item.mcode}}
                                        <p>
                                </mbsc-image-item>
                            </mbsc-image>

                        </ion-item>
                    </ion-col>
                    <ion-col col-9 [ngStyle]="{'padding-left': '1px'}">
                        <ion-item transparent>
                            <ion-label stacked>{{data.lablePhone}}</ion-label>
                            <ion-input [(ngModel)]="usercreds.phone" placeholder="{{data.phone}}" name="phone" type="text" required></ion-input>
                            <ion-label error-field color="primary" no-margin *ngIf="!isPhoneValid">{{data.errorPhone}}</ion-label>
                        </ion-item>


                    </ion-col>
                </ion-row>
                <!---Input field password-->
                <ion-item transparent>
                    <ion-label stacked>{{data.lablePassword}}</ion-label>
                    <ion-input required placeholder="{{data.password}}" type="password" [(ngModel)]="usercreds.password"></ion-input>
                    <ion-label error-field color="primary" no-margin *ngIf="!isPasswordValid">{{data.errorPassword}}</ion-label>
                </ion-item>
                <!---Input field confirm password-->
                <ion-item transparent>
                    <ion-label stacked>{{data.lablePassword}}</ion-label>
                    <ion-input required placeholder="{{data.confirmPassword}}" type="password" [(ngModel)]="usercreds.confirmPassword"></ion-input>
                    <ion-label error-field color="primary" no-margin *ngIf="!isConfirmPasswordValid">{{data.errorConfirmPassword}}</ion-label>
                </ion-item>


                <!---Register button-->
                <button ion-button full text-capitalize default-button (click)="register()">{{data.register}}</button>
            </ion-col>
            <!-- Social media login button -->
            <!-- <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <ion-row text-center>
                    <ion-col col-6>
                        <p>or sign up with:</p>
                    </ion-col>
                    <ion-col col-6>
                        <ion-row>
                            <ion-col col-3>
                                
                                <button clear button-icon-clear margin-right box-shadow ion-button (click)="onEvent('onFacebook')" [ngStyle]="{'border-radius': '50%', 'margin': '0px'}">
                                    <i icon-medium class="icon icon-facebook"></i>
                                </button>

                            </ion-col>
                            <ion-col col-3>
                               
                                <button clear button-icon-clear margin-right box-shadow ion-button (click)="onEvent('onTwitter')" [ngStyle]="{'border-radius': '50%', 'margin': '0px'}">
                                    <i icon-medium class="icon icon-twitter"></i>
                                </button>

                            </ion-col>
                            <ion-col col-3>
                               
                                <button clear button-icon-clear margin-right box-shadow ion-button (click)="onEvent('onPinterest')" [ngStyle]="{'border-radius': '50%', 'margin': '0px'}">
                                    <i icon-medium class="icon icon-google-plus"></i>
                                </button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-col> -->
            <ion-col col-12>
                <div description text-center>
                    <p>Already have account?
                        <a text-capitalize ion-text color="primary" (click)="loginPage()">{{data.signin}}</a>
                    </p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>