/*  #Style Register + logo
================================================*/

register-layout-1 {
  ion-grid,
  ion-row {
    height: 100%;
  }
  // Avatar
  ion-thumbnail {
    display: block;
    clear: both;
    filter: none;
    opacity: 1;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  .mbsc-ios .mbsc-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    background: #231010; 
    border-radius: 50px;
}

.mbsc-ios .mbsc-control-w:before, .mbsc-ios .mbsc-control-w:after {
  border-top: 0px solid #ccc;
  content: "";
  position: absolute;
  right: 0;
  left: 1em;
}

  ion-item {
    padding-left: 0 !important;
    padding-bottom: 15px !important;
    

    [error-field] {
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      font-size: 12px;
    }
  //   .item-inner {
  //     background-color: #231010 !important;
      
  //     box-shadow: none !important;
  // }
  ion-label {
    margin: 0 !important;
  }
}

.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px !important;
}

.item-ios.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px !important;
}

.item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

.item-ios.item-input.item-input-has-focus .item-inner,
.item-ios.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

[login-title] {
    color: #FFFFFF;
  }

  [login-subtitle] {
    color: color($loginPage, login-subtitle-logo-1);
  }

  .toolbar-ios {
    min-height: 64px;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }
  // Title
  [register-title] {
    margin-right: 20%;
    color: #6A0608 !important;
  }

  [stacked] {
    font-size: 10px !important;
  }

  .label-md {
    color: #FFFFFF !important;
   
  }

  .label-ios {
    color: #FFFFFF !important;
   
  }

  
}
