<!-- Themes Login + logo 2 -->
<ion-content no-bounce has-header *ngIf="data != null" background-size [ngStyle]="{'background-color': '#000'}">
  <ion-grid *ngIf="data != null" [ngStyle]="{'background-color': '#000', 'margin-top': '20px'}">
    <ion-row padding-horizontal align-self-center>
      <ion-col align-self-start col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 [ngStyle]="{'margin-bottom': '50px'}">
        
        <button ion-button text-capitalize button-clear clear float-right (click)="dismiss()"><i icon-medium class="icon icon-close" [ngStyle]="{'color': '#6A0608 !important'}"></i></button>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 [ngStyle]="{'margin-bottom': '50px', 'text-align': 'center'}">
        <!-- Header Title -->
        <i icon-large-lock  icon-large class="icon icon-lock" [ngStyle]="{'color': '#6A0608 !important'}"></i>
        <h4 ion-text full text-uppercase register-title text-wrap [ngStyle]="{'color': 'white'}">FORGOT PASSWORD !!!</h4>
        <p>Let’s help you reset it</p>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 form>
        <!---Input field username-->
        <form [formGroup]="profile" (ngSubmit)="reset()">
            <!-- <ion-input type="text" value="{{data.username}}" formControlName="username"></ion-input> -->
            <ion-item transparent no-lines>
                  <ion-label stacked>Email</ion-label>
                  <ion-input type="text" value="" formControlName="email"></ion-input>
            </ion-item>
  
            <ion-row>
                <ion-col text-center>
                  <button ion-button default-button block round type="submit" [disabled]="!profile.valid">
                    SUBMIT
                  </button>
                </ion-col>
            </ion-row>
  
        </form>
      
      </ion-col>
      
      <!---End Share Section-->
    </ion-row>
  </ion-grid>
</ion-content>