
<ion-header header-ios>
  <ion-navbar no-border-bottom>
      <ion-buttons right>
          <button ion-button icon-only (click)="presentFilter()">
              <ion-icon>
                  <ion-avatar class="avatar">
                      <img [src]="user_image_link" style="height: 32px; width: 32px; border-radius: 50% !important;">
                  </ion-avatar>
              </ion-icon>
          </button>
      </ion-buttons>

      <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>

      <ion-buttons left>
          <button ion-button menuToggle>
              <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
          </button>
      </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content elastic-header>
    
  <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + base_url + headerImage + ')'}">
      <div title-block *ngIf="data != null">
          <!--- Category -->
          <span new-category>{{data.category}}</span>
          <!--- Parallax Title -->
          <h1 parallax-title text-wrap>{{data.title}}</h1>
      </div>
  </ion-item>
  <ion-list>
  <ion-row style="padding-bottom: 5rem;">
    
      <ion-item-group *ngIf="data != null">
          <ion-col col-12 map-content transparent>
            <ion-item-group>
                <ion-item border> 
                    <div [innerHTML]="data.details" text-wrap></div>
                </ion-item>
            </ion-item-group>
         </ion-col> 
          
          
      </ion-item-group>
      <ion-item no-lines *ngIf="data != null">
        <ion-col text-center>
            <button ion-button default-button small round full (click)="Donate()">
                <ion-icon name="ios-card"></ion-icon> DONATE
            </button>
        </ion-col>
    </ion-item>
    
  </ion-row>

  </ion-list>
  
</ion-content>

