<!-- Themes Login + logo 2 -->
<ion-content no-bounce has-header *ngIf="data != null" background-size [ngStyle]="{'background-color': '#FFFFFF'}">
  <ion-grid *ngIf="data != null" [ngStyle]="{'background-color': '#FFFFFF', 'margin-top': '100px'}">
    <ion-row padding-horizontal align-self-center>
      
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 [ngStyle]="{'margin-bottom': '20px', 'text-align': 'center'}">
        <!-- Header Title -->
        <i icon-large-lock icon-large class="icon icon-mail" [ngStyle]="{'color': '#6A0608 !important'}"></i>
        <h4 ion-text full text-uppercase register-title text-wrap>{{data.title}}</h4>
        
        <p>Glad to have you on board! <br>To complete the verification process, please enter the code we sent to {{data.email}} </p>
        <br>
        <p>(Click the button below if you haven't received the code after 5 mins)<br>
        <button ion-button small (click)="resendCode()" class="resend">Resend Code</button></p>
      </ion-col>
      <ion-col align-self-center col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 form>
        <!---Input field username-->
        <ion-item transparent no-lines>
          <ion-label stacked>Verification Code</ion-label>
          <ion-input required type="text" name="code" [(ngModel)]="usercreds.code"></ion-input>
          <ion-label error-field no-margin *ngIf="!isUsernameValid">{{data.errorUser}}</ion-label>
        </ion-item>
        <ion-input type="hidden" value="{{data.email}}" [(ngModel)]="usercreds.email" name="email"></ion-input>
        <!---Login button-->
        <button ion-button default-button block text-uppercase box-shadow (click)="onSubmit()" [ngStyle]="{'margin-top': '50px', 'text-align': 'center'}">{{data.submit}}</button>

      </ion-col>

      <!---End Share Section-->
    </ion-row>
  </ion-grid>
</ion-content>