<ion-header header-ios>
  <ion-navbar no-border-bottom>
    <ion-buttons right>
      <button ion-button clear (click)="upload()">
          <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title [ngStyle]="{'text-align': 'center'}" >User Profile</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div padding background-size class="elastic-header2" id="elastic-header" [ngStyle]="{'background-image': 'url(' + base_url + data.avatar + ')'}"></div>
    <div padding background-size id="elastic-header" [ngStyle]="{'z-index': '99999', 'position': 'relative'}">
      <ion-thumbnail *ngIf="data != null">
        <img [src]="base_url + data.avatar" />
      </ion-thumbnail>
      <!-- Parallx Title -->
      <h1 text-center [ngStyle]="{'font-size': '20px', 'color': '#FFFFFF'}" *ngIf="data != null">{{data.title}}</h1>

    </div>
  </div>

  <div>
    <!-- <p><img src="{{myphoto}}" /></p> -->
      <form [formGroup]="profile" (ngSubmit)="editProfile()">
         
          <ion-item no-lines>
                <ion-label stacked>First Name</ion-label>
                <ion-input type="text" value="{{data.firstname}}" formControlName="firstname"></ion-input>
          </ion-item>

          <ion-item no-lines>
              <ion-label stacked>Last Name</ion-label>
              <ion-input type="text" value="{{data.lastname}}" formControlName="lastname"></ion-input>
          </ion-item>

          <ion-item no-lines>
              <ion-label stacked>New Password</ion-label>
              <ion-input type="password" value="" formControlName="newpass"></ion-input>
              
          </ion-item>

          <ion-item no-lines>
              <ion-label stacked>Confirm Password</ion-label>
              <ion-input type="password" value="" formControlName="confirmpass"></ion-input>
              
          </ion-item>

          <ion-item no-lines>
              <button ion-button default-button block round type="submit" [disabled]="!profile.valid">
                  SUBMIT
                </button>
          </ion-item>

      </form>

  </div>
</ion-content>
