<ion-header header-ios>
  <ion-navbar no-border-bottom>
    <ion-buttons right>
      <button ion-button clear (click)="uploadFile()">
        Save
      </button>
    </ion-buttons>

    <ion-buttons left>
      <button ion-button clear (click)="dismiss()">
        <ion-icon name="ios-arrow-back-outline">
        </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <div padding background-size class="elastic-header2" id="elastic-header" [ngStyle]="{'background-image': 'url(' + base_url + data.avatar + ')'}"></div>
    <div padding background-size id="elastic-header" [ngStyle]="{'z-index': '99999', 'position': 'relative'}">
      <ion-thumbnail *ngIf="data != null">
        <img [src]="base_url + data.avatar" />
      </ion-thumbnail>
      <!-- Parallx Title -->
      <h1 text-center [ngStyle]="{'font-size': '20px', 'color': '#FFFFFF'}" *ngIf="data != null">{{data.title}}</h1>
     
      
    </div>
  </div>

  <div class="block-insert" text-center>
      <ion-item>
          <p>{{imageURI}}</p>
          <button ion-button color="secondary" (click)="getImage()">Get Image</button>
        </ion-item>
        <ion-item>
          <h4>Image Preview</h4>
          <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
        </ion-item>
    
  </div>
  <div>

   <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input type="text" value="{{data.firstname}}" [(ngModel)]="firstname" name="firstname"></ion-input>
   </ion-item>

   <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" value="{{data.lastname}}" [(ngModel)]="lastname" name="lastname"></ion-input>
   </ion-item>

   <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input type="password" value="" [(ngModel)]="newpass" name="newpass"></ion-input>
      
   </ion-item>

   <ion-item>
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" value="" [(ngModel)]="confirmpass" name="confirmpass"></ion-input>
      
   </ion-item>

   <ion-row>
      <ion-col text-center>
        <button ion-button color="default" (click)="editProfile()">
          SUBMIT
        </button>
      </ion-col>
  </ion-row>

  </div>
</ion-content>
