<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    </ion-buttons>


    <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon>
          <ion-avatar class="avatar">
            <img [src]="user_image_link" style="height: 32px; width: 32px; border-radius: 50% !important;">
          </ion-avatar>
        </ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
 
</ion-header>

<ion-content no-bounce class="side-menu-gradient">
    <div style="position: absolute;top:0;left:0;height:100%;width:100%;" (swipe)="swipe($event)">
  <ion-list>
    <ion-grid padding *ngIf="data != null">
        <div class="md-cards">
            <div class="md-card-cont">
                <div *ngIf="data.event != null">
                    <h3 login-title>Recent Events</h3>
                    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
                        <mbsc-scrollview-item *ngFor="let item of data.event">
                            <ion-col col-12 col-md-6 col-lg-4 class="homeCards" (click)="itemClick({id: item.event_id})">
                                <ion-card>
                                    <img [src]="base_url + item.avatar" />
                                    <!--- Big Title -->
                                    <h2 card-title>{{item.name}}</h2>
                                </ion-card>
                            </ion-col>
                        </mbsc-scrollview-item>
                    </mbsc-scrollview>
                </div>

                <div *ngIf="data.experience != null">
                    <h3 login-title>Recent Experience</h3>
                    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
                        <mbsc-scrollview-item *ngFor="let item of data.experience">
                            <ion-col col-12 col-md-6 col-lg-4 class="homeCards" (click)="pageClick({id: item.experience_id})">
                                <ion-card>
                                        <img [src]="base_url + item.avatar" />
                                    <!--- Big Title -->
                                    <h2 card-title>{{item.experience_name}}</h2>
                                </ion-card>
                            </ion-col>
                        </mbsc-scrollview-item>
                    </mbsc-scrollview>
                </div>

                <div *ngIf="data.interest != null">
                    <h3 login-title>Recent Posts</h3>
                    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
                        <mbsc-scrollview-item *ngFor="let item of data.interest">
                            <ion-col col-12 col-md-6 col-lg-4 class="homeCards" (click)="postClick({id: item.id})">
                                <ion-card>
                                        <img [src]="base_url + item.avatar" />
                                        
                                    <!--- Big Title -->
                                    <h2 card-title>{{item.experience_name}}</h2>
                                </ion-card>
                            </ion-col>
                        </mbsc-scrollview-item>
                    </mbsc-scrollview>
                </div>
                
            </div>
        </div>
    </ion-grid>
  </ion-list>
</div>
</ion-content>