<!--Theme Google Card - Full Image Cards-->
<ion-header>
    <ion-navbar no-border-bottom>
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu" ios="ios-options-outline" md="md-options"></ion-icon>
            </button>
        </ion-buttons>
       

        <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="presentFilter()">
                <ion-icon>
                    <ion-avatar class="avatar">
                        <img [src]="user_image_link" style="height: 32px; border-radius: 50% !important;">
                    </ion-avatar>
                </ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>


</ion-header>
<ion-content no-bounce>
    <ion-grid padding *ngIf="data != null">
        <div class="md-cards">
            <div class="md-card-cont">
                <div *ngIf="data.feeds != null">
                    <h3>Feeds</h3>
                    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
                        <mbsc-scrollview-item *ngFor="let item of data.feeds">
                            <ion-col col-12 col-md-6 col-lg-4 class="homeCards" (click)="onEvent('onItemClick', item.id)">
                                <ion-card>
                                    <img-loader [src]="base_url + item.avatar"></img-loader>
                                    <!--- Big Title -->
                                    <h2 card-title>{{item.title}}</h2>
                                </ion-card>
                            </ion-col>
                        </mbsc-scrollview-item>
                    </mbsc-scrollview>
                </div>
                
                <div *ngIf="data.closeToYou != null">
                    <h3>Suggested to you</h3>
                    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
                        <mbsc-scrollview-item *ngFor="let item of data.closeToYou">
                            <ion-col col-12 col-md-6 col-lg-4 class="homeCards" (click)="onEvent('onItemClick', item.id)">
                                <ion-card>
                                    <img-loader [src]="base_url + item.avatar"></img-loader>
                                    <!--- Big Title -->
                                    <h2 card-title>{{item.title}}</h2>
                                </ion-card>
                            </ion-col>
                        </mbsc-scrollview-item>
                    </mbsc-scrollview>
                </div>

                <div *ngIf="data.suggestions != null">
                    <h3>Affinity Loves</h3>
                    <mbsc-scrollview [options]="scrollViewOptions" class="demo-card">
                        <mbsc-scrollview-item *ngFor="let item of data.suggestions">
                            <ion-col col-12 col-md-6 col-lg-4 class="homeCards" (click)="onEvent('onItemClick', item.id)">
                                <ion-card>
                                    <img-loader [src]="base_url + item.avatar"></img-loader>
                                    <!--- Big Title -->
                                    <h2 card-title>{{item.title}}</h2>
                                </ion-card>
                            </ion-col>
                        </mbsc-scrollview-item>
                    </mbsc-scrollview>
                </div>
            </div>
        </div>
    </ion-grid>
</ion-content>