// Comorant Thin
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/cormorant/cormorant/Cormorant-Light.ttf) format("truetype");
    font-weight: 100;
}

// Comorant Light
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/cormorant/cormorant/Cormorant-LightItalic.ttf) format("truetype");
    font-weight: 300;
}

// Comorant Regular
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/cormorant/cormorant/Cormorant-Regular.ttf) format("truetype");
    font-weight: 400;
}

// Comorant Medium
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/cormorant/cormorant/Cormorant-Medium.ttf) format("truetype");
    font-weight: 500;
}

// Comorant Bold
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/cormorant/cormorant/Cormorant-SemiBold.ttf) format("truetype");
    font-weight: 700;
}

// Comorant Black
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/cormorant/cormorant/Cormorant-Bold.ttf) format("truetype");
    font-weight: 900;
}