// Comorant Thin
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/San-Francisco/SF-Pro-Display-Thin.otf) format("opentype");
    font-weight: 100;
}

// Comorant Light
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/San-Francisco/SF-Pro-Display-Light.otf) format("opentype");
    font-weight: 300;
}

// Comorant Regular
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/San-Francisco/SF-Pro-Display-Regular.otf) format("opentype");
    font-weight: 400;
}

// Comorant Medium
@font-face {
    font-family: Comorant;
    src: url(assets/fonts/San-Francisco/SF-Pro-Display-Medium.otf) format("opentype");
    font-weight: 500;
}

// Comorant Bold
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/San-Francisco/SF-Pro-Display-Bold.otf) format("opentype");
    font-weight: 700;
}

// Comorant Black
@font-face {
    font-family: Comorant;
    src: url(../assets/fonts/San-Francisco/SF-Pro-Display-Black.otf) format("opentype");
    font-weight: 900;
}