<ion-header header-ios>
  <ion-navbar no-border-bottom>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon>
          <ion-avatar class="avatar">
            <img [src]="user_image_link" style="height: 32px; border-radius: 50% !important;">
          </ion-avatar>
        </ion-icon>
      </button>
    </ion-buttons>
  
    <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>
  
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-navbar>
</ion-header>
<ion-content no-bounce>

  <ion-grid no-padding *ngIf="data != null" [ngStyle]="{'background-color': '#FFFFFF'}">
    <ion-row padding-horizontal align-self-center>


      <ion-col align-self-end col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6 [ngStyle]="{'margin-top': '1rem', 'margin-bottom': '1rem'}">

        <h1 ion-text padding-bottom login-title no-margin>{{data.title}}</h1>
      </ion-col>
      <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <div id="claim1" >
      
        <form action="">
      
      
          <ion-item>
            <ion-label floating="">{{data.merchant}}</ion-label>
            
            <select-searchable item-content [(ngModel)]="transaction.merchant_id" name="merchant_name" [items]="ports" itemValueField="id" itemTextField="name" [canSearch]="true"
              (onChange)="portChange($event)">
            </select-searchable>
            
          </ion-item>
      
          <ion-item>
            <ion-label floating="">{{data.select_offer}}</ion-label>
            <ion-select [(ngModel)]="transaction.offer_id" name="offer" (ngModelChange)="calculateAmountPayable(transaction.offer_id, transaction.amount)"
              required>
              <ion-option value="{{offer.offer_id}}" *ngFor="let offer of offers">{{offer.tagline}}</ion-option>
            </ion-select>
          </ion-item>
      
      
          <ion-item>
            <ion-label floating="">{{data.purchase_amount}}</ion-label>
            <ion-input type="number" [(ngModel)]="transaction.amount" (ngModelChange)="calculateAmountPayable(transaction.offer_id, transaction.amount)"
              name="amount" required></ion-input>
          </ion-item>
      
      
      
          <ion-item class="input_item_plain">
            <ion-label floating="">{{data.to_be_paid}}</ion-label>
            <ion-input readonly="true" type="number" [(ngModel)]="transaction.amount_payable" name="amount_payable" readonly="readonly"></ion-input>
          </ion-item>
      
      
          
          <ion-row [ngStyle]="{'margin-top': '3rem', 'margin-bottom': '1rem'}">
            <ion-col text-center>
              <button ion-button full text-capitalize default-button (click)="verifyUserValidity()">{{data.register}}</button>
            </ion-col>
          </ion-row>
          <ion-input type="hidden" value="{{data.customer_id}}" name="customer_id" [(ngModel)]="transaction.customer_id"></ion-input>
        </form>
      
      
      </div>
      
      <div id="claim2" style="display: none;" padding>
        <ion-row padding>
          <ion-col col-12>
            <div>
              <h3 style="text-align: center;">Verification</h3>
            </div>
          </ion-col>
        </ion-row>
        <ion-list>
          <button ion-item (click)="showPin()">
            PIN
            <ion-icon name='ios-arrow-forward' item-end=""></ion-icon>
          </button>
      
          <button ion-item (click)="scanQR()">
            Scan QR Code
            <ion-icon name='ios-arrow-forward' item-end=""></ion-icon>
          </button>
      
        </ion-list>
      
      
      
        <div id="pin" style="display:none;">
          <br/>
          <div class="big_font">
            <p>Dear {{firstname}},</p>
          </div>
          <div>
            <p>please enter the merchant's PIN to verify your purchase worth
              <b>N{{transaction.amount}} </b>today {{today | date }}.</p>
          </div>
      
          <ion-list>
      
            <ion-item>
              <ion-label floating>PIN</ion-label>
              <ion-input type="number" [(ngModel)]="pin" name="pin"></ion-input>
            </ion-item>
      
          </ion-list>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button class="action_button" ion-button color="default" (click)="verifyTransaction(transaction)">Verify</button>
              </ion-col>
              <ion-col col-6>
                <button class="action_button" ion-button color="default" outline (click)="cancelVerification()">Cancel</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <ion-row style="margin-top: 100px; padding-right: 20px;">
          <ion-col col-6>
            <button class="action_button" ion-button outline color="default" (click)="cancelVerification()">
              <ion-icon class="customIcon" name="arrow-back"> Go back</ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </div>
      
      <div id="claim3" style="display: none;" padding>
        <div class="big_font">
          <p>Hello {{firstname}},</p>
        </div>
        <div>
          <p>Kindly rate this merchant and leave a review.</p>
        </div>
        <ion-list>
          <ion-item float-center>
            
          </ion-item>
          <ion-item class="input_item_plain">
            <ion-label floating>Review</ion-label>
            <ion-input type="text" [(ngModel)]="transaction.remarks" name="remarks" required></ion-input>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <button class="action_button" ion-button outline color="default" (click)="submitRating(transaction.rate, transaction.remarks, transaction.merchant_id)">Submit</button>
            </ion-col>
            <ion-col col-6>
              <button class="action_button" ion-button outline color="default" (click)="cancelVerification1()">Cancel</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

    </ion-col>
      
      <!---End Share Section-->
    </ion-row>
  </ion-grid>

</ion-content>