page-redemption {
    ion-grid,
  ion-row {
    height: 100%;
  }
  // Avatar
  ion-thumbnail {
    display: block;
    clear: both;
    filter: none;
    opacity: 1;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  ion-item {
    padding-left: 0 !important;
    padding-bottom: 15px !important;
    

    [error-field] {
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      font-size: 12px;
    }
    .item-inner {
      background: transparent !important;
      //border-bottom-color: theme-colors('textColors', 'secondary') !important;
      box-shadow: none !important;
  }
  ion-label {
    margin: 0 !important;
  }
}
[login-title] {
    color: rgb(255, 255, 255);
  }

  [login-subtitle] {
    color: color($loginPage, login-subtitle-logo-1);
  }

  .toolbar-ios {
    min-height: 64px;
  }

  .item-md {
    background: transparent !important;
  }

  .bar-button-default-ios,
  .toolbar-title-ios {
    padding-top: 20px;
  }
  // Title
  [register-title] {
    margin-right: 20%;
    color: #6A0608 !important;
  }

  [stacked] {
    font-size: 10px !important;
  }

  .searchbar-md .searchbar-input {
    background-color: #231010 !important;
	  
  }

}
