/*  #Style Login + logo 1
================================================*/
login-layout-1 {
  ion-grid,
  ion-row {
    height: 100%;
  }
  // Settings Logo
  img {
    max-width: 72px;
    max-height: 72px;
    margin-bottom: 24px;
    display: block;
  }
  .item-md.item-input.item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

.item-ios.item-input.item-input-has-focus .item-inner,
.item-ios.item-input.input-has-focus .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  -webkit-box-shadow: inset 0 0 0 0 transparent !important;
  box-shadow: inset 0 0 0 0 transparent !important;
}

  ion-item {
    padding-left: 0 !important;
    padding-bottom: 15px !important;

    [error-field] {
      margin: 0 !important;
      position: absolute !important;
      bottom: 0 !important;
      right: 0 !important;
      font-size: 12px;
    }
  
  ion-label {
    margin: 0 !important;
  }
}

.item-md.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px !important;
}

.item-ios.item-block .item-inner {
  padding-right: 8px;
  border-bottom: 0px !important;
}

  [stacked] {
    font-size: 10px !important;
  }

  [login-title] {
    color: #FFFFFF;
  }

  [login-subtitle] {
    color: color($loginPage, login-subtitle-logo-1);
  }


  [description] {
    font-size: $h5-font-size !important;
    font-weight: 100;
    letter-spacing: 1px;
    color: theme-colors('textColors', 'secondary');
  }

  // Settings Button
  [bottom-form] {
    button:nth-child(1) {
      margin: 12px 0;
    }

    [default-button] {
      font-weight: 400 !important;
    }
  }


}
