<!--- Theme Parallax - Profile -->
<ion-header header-ios>
    <ion-navbar no-border-bottom>
      <ion-buttons right>
        <button ion-button icon-only (click)="presentFilter()">
          <ion-icon>
            <ion-avatar class="avatar">
              <img [src]="user_image_link" style="height: 32px; width: 32px; border-radius: 50% !important;">
            </ion-avatar>
          </ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>
  
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
        </button>
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>
  <!-- Content -->
  <ion-content elastic-header>
  
    <ion-row style="margin-top: 5rem; padding-bottom: 5rem;" *ngIf="data != null">
      <!-- Theme Google Maps - Gmaps + Location  Details -->
      <ion-grid no-padding >
        <ion-row>
          <ion-col col-12 map-header>
            <ion-item lines no-padding>
              <!--Maps Title-->
              <h1 padding-left maps-title margin-top text-wrap>{{data.title}}</h1>
              <!--Parallax Rateing-->
              <div padding-left>
                <!-- location goes here -->
                <h3>{{data.address}}</h3>
                
              </div>
            </ion-item>
            <ion-item-divider border no-lines>
              <h2 class="item-subtitle">Type:</h2>
              <h3>{{data.Type}}</h3>
              <!--- Button Share-->
    
            </ion-item-divider>
            <ion-item-divider border no-lines *ngIf="data.Type == 'Paid'">
                <h2 class="item-subtitle">Price:</h2>
                <h3>{{data.price}}</h3>
                <!--- Button Share-->
      
            </ion-item-divider>
          </ion-col>
          <!---Content-->
          <ion-col col-12 map-content transparent>
            <ion-item-group>
    
              <!--Info Time-->
              <ion-item border>
                <!-- Content Title-->
                <!-- <h2 parallax-subtitle margin-bottom text-wrap>Details</h2> -->
                <!-- Content Description-->
                <div [innerHTML]="data.details" text-wrap></div>
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>
      </ion-grid>
     
          <ion-col text-center *ngIf="data.price != null">
              <button ion-button default-button block (click)="Volunteer()">
                  <ion-icon name="pricetag"></ion-icon> Volunteer
              </button>
          </ion-col>
       
      
  
    </ion-row>
  
  </ion-content>
