<!-- Theme Google Maps - Gmaps + Location  Details -->
<ion-grid no-padding *ngIf="data != null">
    <ion-row>
        <ion-col col-12 map-header>
            <ion-item lines no-padding>
                <!--Maps Title-->
                <h1 padding-left maps-title margin-top text-wrap>{{data.title}}</h1>
                <!--Parallax Rateing-->
                <div padding-left>
                    <!-- location goes here -->
                    <h3>{{data.city}}, {{data.state}}</h3>
                    <ion-icon float-left *ngFor="let item of data.iconsStars;let i = index" (click)="onStarClass(data.iconsStars, i, $event)">
                        <i icon-small *ngIf="item.isActive" class="icon {{item.iconActive}}"></i>
                        <i icon-small *ngIf="!item.isActive" class="icon {{item.iconInactive}}"></i>
                    </ion-icon>
                </div>
            </ion-item>
        </ion-col>
        <!---Content-->
        <ion-col col-12 map-content transparent>
            <ion-item-group>
                
                <!--Info Time-->
                <ion-item border>
                    <!-- Content Title-->
                    <!-- <h2 parallax-subtitle margin-bottom text-wrap>Details</h2> -->
                    <!-- Content Description-->
                    <div [innerHTML]="data.details" text-wrap></div>
                </ion-item>
            </ion-item-group>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-3>
            <button ion-item (click)="openMap(data.map.lat, data.map.lng)">
                <ion-icon icon-small item-left item-start name="md-return-right"></ion-icon>
                Directions
            </button>
        </ion-col>
        <ion-col col-3>
            <button ion-item>
                <ion-icon icon-small item-left item-start name="md-call" (click)="callWithNumber(data.phone)"></ion-icon>
                Call
            </button>
        </ion-col>
        <ion-col col-3>
            <button ion-item>
                <ion-icon icon-small item-left item-start name="md-globe" (click)="openWebsite(data.website)"></ion-icon>
                Website
            </button>
        </ion-col>
        <ion-col col-3>
            <button ion-item>
                <ion-icon icon-small item-left item-start name="md-pin" (click)="callWithNumber(data.phone)"></ion-icon>
                Map
            </button>
        </ion-col>
        
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <agm-map gestureHandling="cooperative" [latitude]="data.map.lat" [longitude]="data.map.lng" [zoom]="data.map.zoom" [mapTypeControl]="data.map.mapTypeControl"
                [streetViewControl]="data.map.streetViewControl">
                <agm-marker [latitude]="data.map.lat" [longitude]="data.map.lng"></agm-marker>
            </agm-map>
        </ion-col>
    </ion-row>
</ion-grid>