page-membership-option {
    .item-ios {
        padding-left: 1px !important;
        border-radius: 0;
        position: relative;
        font-size: 1.7rem;
        color: #000;
        background-color: white;
        -webkit-transition: background-color 200ms linear;
        transition: background-color 200ms linear;
    }

    .item-ios .radio-ios[item-left], .item-ios .radio-ios[item-start] {
        margin: 8px 8px 8px 3px !important;
    }

    p {
       color: #030000 !important;
    }

    [item-title] {
        font-size: 15px !important;
        color: #030000 !important;
    }

    [item-subtitle] {
        font-size: 12px !important;
    }

    .title-components {
        color: theme-colors('textColors', 'accentDark');
        font-size: 15px;
        font-weight: 500;
        clear: both;
        display: block;
        margin: 20px 0;
        text-align: left;
    }

    .item-block:first-child {
        border-top: none !important;
    }

    .item-block:last-child {
        border-bottom: none !important;
    }

    .button-round-ios {
        border-radius: 64px !important;
        padding: 0 2.6rem !important;
    }

    .list-ios .item-block .item-inner {
        border-bottom: none !important;
    }

    .button-inner {
        font-size: 12px !important;
        font-weight: normal !important;
    }

    ion-list {
        margin: -1px 0 5px !important;
    }

    .button-outline-md {
        border-width: 1px;
        border-style: solid;
        border-color: rgb(80, 16, 16);
        color: rgb(80, 16, 16);
        border-radius: 5px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
        /* background-color: transparent; */
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .button-outline-ios {
        border-width: 1px;
        border-style: solid;
        border-color: rgb(80, 16, 16);
        color: rgb(80, 16, 16);
        border-radius: 5px !important;
        border-right-width: 1px !important;
        border-left-width: 1px !important;
        /* background-color: transparent; */
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .item-md {
        background-color: #fff !important;
        color: #030000 !important;
    }

    .item-ios {
        background-color: #fff !important;
        color: #030000 !important;
    }

    .card-md {
        background: #ffffff !important;
        margin: 0px auto !important;
        box-shadow: none !important;
        width: 100% !important;
    }

    .card-ios {
        background: #ffffff !important;
        margin: 0px auto !important;
        box-shadow: none !important;
        width: 100% !important;
    }

    .card-header-md {
        font-size: 1.6rem;
        font-weight: bold !important;
        color: #610b0b !important;
        padding: 16px;
        white-space: normal;
    }

    .card-header-ios {
        font-size: 1.6rem;
        font-weight: bold !important;
        color: #610b0b !important;
        padding: 16px;
        white-space: normal;
    }

    .card-content-md {
        padding: 13px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
        // font-weight: bold;
    }

    .card-content-ios {
        padding: 13px 16px;
        font-size: 1.4rem;
        line-height: 1.5;
        // font-weight: bold;
    }
}