page-rentals {
    [card-background-page] {
        ion-card {
          margin: 10px 1px 1px 1px;
          width: calc(100% - 2px);
          position: relative;
          height: 215px;
          border-radius: $border-radius;
          @include darkening-blend-mode-img(true);
    
          img {
            min-height: 215px;
            max-height: 100%;
          }
        }
        [card-title] {
          position: absolute;
          bottom: 50px;
          left: 22px;
          z-index: 99999;
          color: theme-colors('textColors', 'secondaryBase') !important;
        }
        
    
        [card-subtitle] {
          position: absolute;
          bottom: 16px;
          left: 22px;
          right: 15%;
          z-index: 99999;
          color: theme-colors('textColors', 'secondaryBase') !important;
        }
      }
}
