/*  #Style Search - Field + Header
===========================================*/
search-bar-layout-2 {
  [card-background-page] {
    ion-card {
      margin: 10px 1px 1px 1px;
      width: calc(100% - 2px);
      position: relative;
      height: 215px;
      border-radius: $border-radius;
      background-image: url('../assets/images/icon.gif');
      background-position: center;
      background-repeat: no-repeat;
      @include darkening-blend-mode-img(true);

      img {
        min-height: 215px;
        max-height: 100%;
      }
    }
    [card-title] {
      position: absolute;
      bottom: 50px;
      left: 22px;
      z-index: 99999;
      color: theme-colors('textColors', 'secondaryBase') !important;
    }

    [card-subtitle] {
      position: absolute;
      bottom: 16px;
      left: 22px;
      right: 15%;
      z-index: 99999;
      color: theme-colors('textColors', 'secondaryBase') !important;
    }
  }
  .searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 3px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    // color: #ffffff;
    // background-color: #3d3d3d;
    -webkit-box-shadow: none;
    // background: transparent !important;
    box-shadow: none;
    border-color: rgb(241, 239, 239);
	  background-color: #231010 !important;
	  color: rgb(255, 255, 255);
    // opacity: 0.2;
}

.searchbar-ios .searchbar-input {
  padding: 6px 55px;
  border-radius: 3px;
  background-position: left 8px center;
  height: auto;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3rem;
  // color: #ffffff;
  // background-color: #3d3d3d;
  -webkit-box-shadow: none;
  // background: transparent !important;
  box-shadow: none;
  border-color: rgb(241, 239, 239);
  background-color: #231010 !important;
  color: rgb(255, 255, 255);
  // opacity: 0.2;
}

  .toolbar .toolbar-md{
    background: linear-gradient(-45deg,#030000,rgb(32, 1, 2)) !important;
  }
}
