<!--Theme Wizard Big Image With Text -->
<ion-slides #wizardSlider (ionSlideDidChange)="slideHasChanged()" pager="true" *ngIf="data != null">
    <ion-slide background-size padding *ngFor="let item of data.items;" [ngStyle]="{'background-image': 'url(' + item.backgroundImage + ')'}">
        
    </ion-slide>
</ion-slides>
<!--Button section-->
<ion-grid [ngStyle] = "{'position': 'absolute', 'z-index': '10', 'bottom': '0px', 'padding': '0px'}" >
    <ion-row>
        <ion-col [ngStyle] = "{'padding': '2px'}">
            <button ion-button text-capitalize (click)="registerPage()" [ngStyle] = "{'text-align': 'center', 'min-width': '100%', 'height': '5.5rem'}">Sign Up</button>
        </ion-col>
        <ion-col [ngStyle] = "{'padding': '2px'}">
            <button ion-button text-capitalize (click)="loginPage()" [ngStyle] = "{'text-align': 'center', 'min-width': '100%', 'height': '5.5rem'}" >Login</button>
        </ion-col>
    </ion-row>
</ion-grid>
