<!--- Theme Parallax - Product -->
<ion-header header-ios>
  <ion-navbar no-border-bottom>
    <ion-buttons right>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon>
          <ion-avatar class="avatar">
            <img [src]="user_image_link" style="height: 32px; border-radius: 50% !important;">
          </ion-avatar>
        </ion-icon>
      </button>
    </ion-buttons>
  
    <ion-title [ngStyle]="{'text-align': 'center'}" *ngIf="data != null">{{data.headerTitle}}</ion-title>
  
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  
  </ion-navbar>
</ion-header>
<ion-content elastic-header>
  <!-- Parallax Big Image -->
  <ion-item no-lines background-size id="elastic-header" [ngStyle]="{'background-image': 'url(' + headerImage + ')'}">
    <button ion-fixed item-end ion-button button-action-shit *ngIf="data != null" (click)="onEvent('onShare', data)">
        <ion-icon  name="{{data.shareIcon}}"></ion-icon>
      </button>
  </ion-item>
  <!--Content-->
  <ion-grid no-padding *ngIf="data != null">
    <ion-row>
      <ion-col col-12>
        <ion-list no-margin>
          <ion-item-group *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
            <ion-item-divider no-lines>
              <!-- Name Category-->
              <span new-category margin-top text-uppercase ion-text color="primary">{{item.category}}</span>
              <!-- Parallax Title -->
              <h2 parallax-title text-wrap>{{item.title}}</h2>
              <!-- Parallax Subtitle -->
              <h3 parallax-subtitle text-wrap>{{item.subtitle}}</h3>
              <ion-badge item-end text-uppercase class="badge-dark" (click)="onEvent('onProceed', item, $event)">{{item.button}}</ion-badge>
            </ion-item-divider>
            <!-- Description Products -->
            <ion-item border no-lines no-margin>
              <p parallax-description text-wrap>{{item.description}}</p>
            </ion-item>
            <!--Content With Text-->
            <ion-item no-lines *ngFor="let productDescription of item.productDescriptions">
              <p parallax-description text-wrap>{{productDescription.description}}</p>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
